In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
filename = r"C:\Users\HP\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv"
df = pd.read_csv(filename, encoding="latin-1")

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [8]:
years = ["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]
year_dict = {}
for i in years:
    year_dict[i] = df[i].corr(df["Element Code"])

In [9]:
year_dict

{'Y2014': 0.024456819495221736,
 'Y2015': 0.02388919930163995,
 'Y2016': 0.02344399758496138,
 'Y2017': 0.024254007760045757,
 'Y2018': 0.02427857195351954}

In [10]:
df["Y2017"].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

#### Total number of missing data in 2017

In [11]:
df["Y2017"].isna().sum()

1506

In [14]:
#The percentage of missing data in 2017 is:
round(df["Y2017"].isna().sum()/len(df), 4)

0.0247

#### Total Number of Unique Countries

In [15]:
df["Area"].nunique()

49

#### Groupby Operation on Area and Y2017 - Lowest Sum

In [25]:
df["Y2017"].groupby(df["Area"]).sum().sort_values()[:7]

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

In [26]:
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

#### Groupby Operation on Area and Y2017 - Highest Sum

In [29]:
df["Y2017"].groupby(df["Area"]).sum().sort_values(ascending=False)[:1]

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

#### Question 14

In [32]:
df[["Y2015", "Y2018"]].groupby(df["Item"]== "Wine").sum()

            Y2015       Y2018
Item
False  8028088.42  8550590.64
True      4251.81     4039.32

#### QUestion 15

In [56]:
(df["Area"] == "Madagascar").groupby([df["Element"] == "Protein supply quantity (g/capita/day)"]).sum()

AttributeError: 'str' object has no attribute 'groupby'

#### Question 16

In [40]:
df["Y2017"].groupby(df["Element"] == "Processing").sum()[1]

292836.0

#### Question 18

In [41]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

#### Question 19

In [45]:
df[years].groupby(df["Element"] == "Stock Variation").sum()["Y2014"]

Element
False    7906336.30
True       58749.83
Name: Y2014, dtype: float64

What is the total Protein supply quantity in Madagascar in 2015?